@font-face {
  font-family: "AcuminPro-Regular";
  src: url("./AcuminPro-Regular.eot");
  src: url("./AcuminPro-Regular.eot?#iefix") format("embedded-opentype"), url("./AcuminPro-Regular.woff2") format("woff2"), url("./AcuminPro-Regular.woff") format("woff"), url("./AcuminPro-Regular.ttf") format("truetype"), url("./AcuminPro-Regular.svg#AcuminPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AcuminProCond-Regular";
  src: url("./AcuminProCond-Regular.eot");
  src: url("./AcuminProCond-Regular.eot?#iefix") format("embedded-opentype"), url("./AcuminProCond-Regular.woff2") format("woff2"), url("./AcuminProCond-Regular.woff") format("woff"), url("./AcuminProCond-Regular.ttf") format("truetype"), url("./AcuminProCond-Regular.svg#AcuminProCond-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MHE-Riyal-Sign";
  src: url("./MHERiyalSign-Regular.woff2") format("woff2"), url("./MHERiyalSign-Regular.woff") format("woff"), url("./MHERiyalSign-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acumin-Pro-ExtraCondensed";
  src: url("./AcuminProExtraCond-Black.eot");
  src: url("./AcuminProExtraCond-Black.eot?#iefix") format("embedded-opentype"), url("./AcuminProExtraCond-Black.woff2") format("woff2"), url("./AcuminProExtraCond-Black.woff") format("woff"), url("./AcuminProExtraCond-Black.ttf") format("truetype"), url("./AcuminProExtraCond-Black.svg#AcuminProExtraCond-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.riyal-font {
  display: none !important;
}
.riyal-font::after {
  position: absolute;
  top: 50%;
  content: "A";
  left: 6px;
  font-family: MHE-Riyal-Sign !important;
  font-weight: 700;
  transform: translateY(-50%);
  font-size: 20px;
}
.riyal-font.show-riyal {
  display: inline !important;
}

.content-bottom-custom .product-price {
  position: relative;
}
.content-bottom-custom .product-price.sar-currency {
  padding-left: 28px;
}

.ajaxcart__price {
  position: relative;
}
.ajaxcart__price.sar-currency {
  padding-left: 28px;
}

.cart-total__subtotal-price,
.cart-product-info__price,
.cart-table__price,
.cart__price,
.order-discount {
  position: relative;
}
.cart-total__subtotal-price.sar-currency,
.cart-product-info__price.sar-currency,
.cart-table__price.sar-currency,
.cart__price.sar-currency,
.order-discount.sar-currency {
  padding-left: 28px;
}

.js-product-price.product-single__price,
.js-product-compare-price.product-single__price--compare-at {
  position: relative;
}
.js-product-price.product-single__price.sar-currency,
.js-product-compare-price.product-single__price--compare-at.sar-currency {
  padding-left: 28px;
}

.product-recommendations__inner .wpbingo-title__heading,
.jdgm-rev-widg__title {
  text-transform: uppercase;
  font-size: clamp(20px, 2vw + 1rem, 28px);
}

.bwp-button-text,
.product-card__name,
.product-tabs__nav-link,
.list-item a,
.breadcrumb__link span,
.block-sidebar__title,
.facet-filters__sort,
.loadmore-button-text,
.jdgm-write-rev-link,
.more-info-tabs__nav-item,
.product-single .product-single__buttons .btn--add-to-cart,
.shopify-payment-button__button,
.ajaxcart__product-name,
.cart-modal__btn,
.page-cart__title,
.wpbingo-breadcrumbs__inner {
  text-transform: uppercase;
}

.h1,
.h2,
.h3,
h1,
h2,
h3,
.bwp-block-title {
  font-family: "Acumin-Pro-ExtraCondensed" !important;
}

body,
.h4,
.h5,
.h6,
h4,
h5,
h6,
a,
.bwp-block-desc {
  font-family: "AcuminProCond-Regular" !important;
}

.wpbingo-footer-section .bwp-block-title {
  font-family: "AcuminProCond-Regular" !important;
}

.wpbingo-inner-section,
.bwp-widget-banner {
  position: relative;
}

.wpbingo-inner-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.wpbingo-inner-section .content-block-column {
  z-index: 2;
  position: relative;
}

.wpb-variants-swatch .Barley {
  background-color: #989486 !important;
}

.wpb-variants-swatch .CREAM {
  background-color: #FFFDD0;
}

.wpb-variants-swatch .Beige {
  background-color: #EAD8AB !important;
}

.wpb-variants-swatch .Gold {
  background-color: #FFD700 !important;
}

.wpb-variants-swatch .MINT {
  background-color: #98FF98 !important;
}

.wpb-variants-swatch .Multi.colors {
  background: linear-gradient(to right, #ff0000, #ff9900, #ffff00, #00ff00, #0000ff, #9900ff);
}

.wpb-variants-swatch .Ecru {
  background-color: #C2B280 !important;
}

.wpb-variants-swatch .Silver {
  background-color: #c0c0c0 !important;
}

.wpb-variants-swatch .Black,
.wpb-variants-swatch .BLACK {
  background-color: #000000 !important;
}

.wpb-variants-swatch .Blue {
  background-color: #005BD3 !important;
}

.wpb-variants-swatch .Brown {
  background-color: #9A5630 !important;
}

.wpb-variants-swatch .Gray {
  background-color: #808080 !important;
}

[class="Gold / Black facet-checkbox"],
.Gold\ \/\ Black.facet-checkbox {
  background: linear-gradient(45deg, #FFD700 0%, #FFD700 50%, #000000 50%, #000000 100%) !important;
  border: 1px solid #ddd !important;
}

.wpb-variants-swatch .Green {
  background-color: #05AA3D !important;
}

.wpb-variants-swatch .Navy {
  background-color: #282099 !important;
}

.wpb-variants-swatch .Pink {
  background-color: #FFC0CB !important;
}

.wpb-variants-swatch .Purple {
  background-color: #A54DCF !important;
}

.wpb-variants-swatch .White,
.wpb-variants-swatch .WHITE {
  background-color: #FFFFFF !important;
}

.wpb-variants-swatch .Yellow {
  background-color: #FFE500 !important;
}

.jdgm-write-rev-link {
  border-radius: 50px;
}

.jdgm-review-widget--small .jdgm-rev-widg {
  padding: 16px 20px;
}/*# sourceMappingURL=bi-custom.css.map */