@font-face {
  font-family: "AcuminPro-Regular";
  src: url("./AcuminPro-Regular.eot");
  src: url("./AcuminPro-Regular.eot?#iefix") format("embedded-opentype"), url("./AcuminPro-Regular.woff2") format("woff2"), url("./AcuminPro-Regular.woff") format("woff"), url("./AcuminPro-Regular.ttf") format("truetype"), url("./AcuminPro-Regular.svg#AcuminPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AcuminProCond-Regular";
  src: url("./AcuminProCond-Regular.eot");
  src: url("./AcuminProCond-Regular.eot?#iefix") format("embedded-opentype"), url("./AcuminProCond-Regular.woff2") format("woff2"), url("./AcuminProCond-Regular.woff") format("woff"), url("./AcuminProCond-Regular.ttf") format("truetype"), url("./AcuminProCond-Regular.svg#AcuminProCond-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RiformaMonoLL-Regular";
  src: url("./RiformaMonoLL-Regular.eot");
  src: url("./RiformaMonoLL-Regular.eot?#iefix") format("embedded-opentype"), url("./RiformaMonoLL-Regular.woff2") format("woff2"), url("./RiformaMonoLL-Regular.woff") format("woff"), url("./RiformaMonoLL-Regular.ttf") format("truetype"), url("./RiformaMonoLL-Regular.svg#RiformaMonoLL-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MHE-Riyal-Sign";
  src: url("MHERiyalSign-Regular.woff2") format("woff2"), url("MHERiyalSign-Regular.woff") format("woff"), url("MHERiyalSign-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.riyal-font::after {
  position: absolute;
  top: 50%;
  content: "A";
  inset-inline-end: 6px;
  font-family: MHE-Riyal-Sign !important;
  font-weight: 700;
  transform: translateY(-50%);
  font-size: 20px;
}

.content-bottom-custom .product-price {
  position: relative;
}

.product-recommendations__inner .wpbingo-title__heading,
.jdgm-rev-widg__title {
  font-size: clamp(20px, 2vw + 1rem, 28px);
}

.bwp-button-text,
.product-card__name,
.product-tabs__nav-link,
.list-item a {
  text-transform: uppercase;
}

body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
a,
.bwp-block-desc,
.bwp-block-title {
  font-family: "AcuminProCond-Regular" !important;
}

.banner-wrapper-infor .bwp-block-title,
.btn--add-to-cart,
.swatch-items label {
  font-family: "RiformaMonoLL-Regular" !important;
}

.wpb-variants-swatch .Barley {
  background-color: #989486 !important;
}

.wpb-variants-swatch .CREAM {
  background-color: #FFFDD0;
}

.wpb-variants-swatch .Beige {
  background-color: #EAD8AB !important;
}

.wpb-variants-swatch .Gold {
  background-color: #FFD700 !important;
}

.wpb-variants-swatch .MINT {
  background-color: #98FF98 !important;
}

.wpb-variants-swatch .Multi.colors {
  background: linear-gradient(to right, #ff0000, #ff9900, #ffff00, #00ff00, #0000ff, #9900ff);
}

.wpb-variants-swatch .Ecru {
  background-color: #C2B280 !important;
}

.wpb-variants-swatch .Silver {
  background-color: #c0c0c0 !important;
}

.wpb-variants-swatch .Black,
.wpb-variants-swatch .BLACK {
  background-color: #000000 !important;
}

.wpb-variants-swatch .Blue {
  background-color: #005BD3 !important;
}

.wpb-variants-swatch .Brown {
  background-color: #9A5630 !important;
}

.wpb-variants-swatch .Gray {
  background-color: #808080 !important;
}

[class="Gold / Black facet-checkbox"],
.Gold\ \/\ Black.facet-checkbox {
  background: linear-gradient(45deg, #FFD700 0%, #FFD700 50%, #000000 50%, #000000 100%) !important;
  border: 1px solid #ddd !important;
}

.wpb-variants-swatch .Green {
  background-color: #05AA3D !important;
}

.wpb-variants-swatch .Navy {
  background-color: #282099 !important;
}

.wpb-variants-swatch .Pink {
  background-color: #FFC0CB !important;
}

.wpb-variants-swatch .Purple {
  background-color: #A54DCF !important;
}

.wpb-variants-swatch .White,
.wpb-variants-swatch .WHITE {
  background-color: #FFFFFF !important;
}

.wpb-variants-swatch .Yellow {
  background-color: #FFE500 !important;
}/*# sourceMappingURL=bi-custom.css.map */