/*=============== BLOG ==============*/
.wpbingo-widget--featured-blog .featured-blog__post:hover .article__image img {
  transform: scale(1.2);
}
.wpbingo-widget--featured-blog .featured-blog__post .article {
  margin: 0;
  padding: 0;
}
.wpbingo-widget--featured-blog .featured-blog__post .article__heading {
  margin: 0 0 25px;
  font-size: var(--font-size-heading);
  line-height: 35px;
}
.wpbingo-widget--featured-blog .featured-blog__post .article__excerpt {
  margin-bottom: 37px;
}
.wpbingo-widget--featured-blog .featured-blog__post .article__image {
	position: relative;
	margin: 0 0 35px;
	overflow:hidden;
  border-radius: 10px;
}
.wpbingo-widget--featured-blog .featured-blog__post .article__image img {
	transition: all 0.8s ease;
	position: absolute;
    top: 0;
    left: 0;
}
.wpbingo-widget--featured-blog .featured-blog__post .article__meta {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  margin: 0;
  padding: 6px 15px;
  color: var(--gray-dark);
  line-height: 18px;
  background-color: var(--white);
  font-size: calc(var(--font-size-base) - 2px);
  text-transform: uppercase;
}
.wpbingo-widget--featured-blog .featured-blog__post .article__meta-date::before {
  top: 0;
}
.wpbingo-widget--featured-blog .featured-blog__post .article__meta-author::before {
  top: 0;
}
.wpbingo-widget--featured-blog .featured-blog__post .button a {
  display: inline-block;
  font-size: calc(var(--font-size-base) + 1px);
  font-weight: var(--body-font-weight-semibold);
  line-height: 45px;
  border-radius: 50px;
  padding: 0 40px;
  border: 1px solid var(--gray-dark);
  position: relative;
  transition: all .3s ease;
  text-transform: capitalize;
}
.wpbingo-widget--featured-blog .featured-blog__post .button a:hover {
  background: var(--gray-dark);
  color: var(--white);
}
@media (min-width: 1500px) {
	.wpbingo-widget--featured-blog .slick-prev {
    left: -70px;
  }
  .wpbingo-widget--featured-blog .slick-next {
    right: -70px;
  }
}
@media (max-width: 767px) {
  .wpbingo-widget--featured-blog .featured-blog__post .article__heading {
    margin: 0 0 20px;
    font-size: calc(var(--font-size-heading) - 5px);
    line-height: 30px;
  }
  .wpbingo-widget--featured-blog .featured-blog__post .article__excerpt {
    margin-bottom: 30px;
  }
}