.wpbingo-block--title-marquee .marquee-wrapper{
    -webkit-animation-name: marquee;
    animation-name: marquee;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.wpbingo-block--title-marquee .marquee-wrapper:hover{
    animation-play-state: paused;
}
.wpbingo-block--title-marquee .marquee {
    display: inline-flex;
    white-space: nowrap;
}
.wpbingo-block--title-marquee .marquee a{
    display: inline-block;
}