/*============= SLIDESHOW ===================*/
.wpbingo-section--slideshow {
  padding-top: 0;
  padding-bottom: 0;
}
.wpbingo-slideshow {
  margin: 0;
}
.wpbingo-slideshow .slick-dots {
	position: absolute;
  bottom: 50px;
}
.wpbingo-slideshow .slick-dots li {
  width: 16px;
  height: 16px;
  margin: 0 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.wpbingo-slideshow .slick-dots li.slick-active {
  background: transparent;
  box-shadow: inset 0px 0px 0px 1px var(--white);
}
.wpbingo-slideshow .slick-dots li:hover {
  box-shadow: inset 0px 0px 0px 1px var(--white);
}
.wpbingo-slideshow .slick-dots li button {
	width: 6px;
	height: 6px;
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
  display: block;
  padding: 0;
  margin: 0;
}
.wpbingo-slideshow .slick-dots li button:before {
	display:none;
}
.wpbingo-slideshow .slick-dots li button:after {
  display: none;
}
.wpbingo-slideshow:not(.slick-initialized) .wpbingo-slideshow__item {
  display: none;
}
.wpbingo-slideshow:not(.slick-initialized) .wpbingo-slideshow__item:first-child {
  display: block;
}
.wpbingo-slideshow .slideshow-caption__btn {
  position: relative;
  display: inline-block;
  z-index: 1;
  text-transform: revert;
}
.wpbingo-slideshow .slick-arrow {
  width: 60px;
  height: 60px;
  margin-top: -22px;
  line-height: 1;
  transition: unset;
  top: 50%;
}
.wpbingo-slideshow .slick-arrow:before {
  font-size: 18px;
}
.wpbingo-slideshow .slick-prev {
  left: 70px;
}
.wpbingo-slideshow .slick-next {
  right: 70px;
}
.wpbingo-slideshow .slick-slide {
  position: relative;
}
.wpbingo-slideshow .slick-list {
  margin: 0;
}
.wpbingo-slideshow .slick-list .slick-slide {
  padding: 0;
}
.wpbingo-slideshow .slick-current .slideshow-caption {
  opacity: 1;
}
.wpbingo-slideshow .image-size--cover .wpbingo-slideshow__item-image {
  object-fit: cover;
}
.wpbingo-slideshow .image-size--contain .wpbingo-slideshow__item-image {
  object-fit: contain;
}
.wpbingo-slideshow .image-size--fill .wpbingo-slideshow__item-image {
  object-fit: fill;
}
.wpbingo-slideshow .image-pos--left_top .wpbingo-slideshow__item-image {
  object-position: left top;
}
.wpbingo-slideshow .image-pos--left_center .wpbingo-slideshow__item-image {
  object-position: left center;
}
.wpbingo-slideshow .image-pos--left_bottom .wpbingo-slideshow__item-image {
  object-position: left bottom;
}
.wpbingo-slideshow .image-pos--center_top .wpbingo-slideshow__item-image {
  object-position: center top;
}
.wpbingo-slideshow .image-pos--center_center .wpbingo-slideshow__item-image {
  object-position: center center;
}
.wpbingo-slideshow .image-pos--center_bottom .wpbingo-slideshow__item-image {
  object-position: center bottom;
}
.wpbingo-slideshow .image-pos--right_top .wpbingo-slideshow__item-image {
  object-position: right top;
}
.wpbingo-slideshow .image-pos--right_center .wpbingo-slideshow__item-image {
  object-position: right center;
}
.wpbingo-slideshow .image-pos--right_bottom .wpbingo-slideshow__item-image {
  object-position: right bottom;
}
.wpbingo-slideshow .slideshow-text--left {
  text-align: left;
}
.wpbingo-slideshow .slideshow-text--center {
  text-align: center;
}
.wpbingo-slideshow .slideshow-text--right {
  text-align: right;
}
.wpbingo-slideshow .slideshow-horizontal--left {
  justify-content: left;
}
.wpbingo-slideshow .slideshow-horizontal--center {
  justify-content: center;
}
.wpbingo-slideshow .slideshow-horizontal--right {
  justify-content: right;
}
.wpbingo-slideshow .slideshow-vertical--top {
  align-items: start;
}
.wpbingo-slideshow .slideshow-vertical--middle {
  align-items: center;
}
.wpbingo-slideshow .slideshow-vertical--bottom {
  align-items: end;
}
.wpbingo-slideshow__item-image {
  width: 100%;
  height: 100%;
}
.wpbingo-slideshow .wpbingo-slideshow__item {
  position: relative;
}
.wpbingo-slideshow .slideshow-caption__inner {
  display: flex;
  flex-wrap: wrap;
}
.wpbingo-slideshow .slideshow-caption {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  display: flex;
  opacity: 0;
}
.slick-active .leftright-1 {
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
.slick-active .leftright-2 {
  animation-name: fadeInLeft;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
.slick-active .leftright-3 {
  animation-name: fadeInLeft;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
.slick-active .rightleft-1 {
  animation-name: fadeInRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
.slick-active .rightleft-2 {
  animation-name: fadeInRight;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
.slick-active .rightleft-3 {
  animation-name: fadeInRight;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
.slick-active .topbottom-1 {
  animation-name: fadeInDown;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
.slick-active .topbottom-2 {
  animation-name: fadeInDown;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
.slick-active .topbottom-3 {
  animation-name: fadeInDown;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
.slick-active .bottomtop-1 {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
.slick-active .bottomtop-2 {
  animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
.slick-active .bottomtop-3 {
  animation-name: fadeInUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}
@media (max-width: 1800px) and (min-width: 1200px) {
  .wpbingo-section--slideshow .bwp-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 767px) {
	.wpbingo-slideshow .wpbingo-slideshow__item-image.mobile {
		display: none;
	}
}
@media (max-width: 1199px) {
	.wpbingo-slideshow .slick-arrow {
		width: 40px;
		height: 40px;
		margin-top: -15px;
		top: calc(50% - 15px);
	}
  .wpbingo-slideshow .slick-arrow:before {
    font-size: 16px;
  }
	.wpbingo-slideshow .slick-prev {
		left: 15px;
	}
	.wpbingo-slideshow .slick-next {
		right: 15px;
	}
}
@media (max-width: 767px) {
	.wpbingo-slideshow .slick-dots {
    bottom: 30px;
  }
  .wpbingo-slideshow .slideshow-caption.disable_absolute {
    position: static;
  }
  .wpbingo-slideshow .image-size-mobi--cover .wpbingo-slideshow__item-image {
    object-fit: cover;
  }
  .wpbingo-slideshow .image-size-mobi--contain .wpbingo-slideshow__item-image {
    object-fit: contain;
  }
  .wpbingo-slideshow .image-size-mobi--fill .wpbingo-slideshow__item-image {
    object-fit: fill;
  }
  .wpbingo-slideshow .image-pos-mobi--left_top .wpbingo-slideshow__item-image {
    object-position: left top;
  }
  .wpbingo-slideshow .image-pos-mobi--left_center .wpbingo-slideshow__item-image {
    object-position: left center;
  }
  .wpbingo-slideshow .image-pos-mobi--left_bottom .wpbingo-slideshow__item-image {
    object-position: left bottom;
  }
  .wpbingo-slideshow .image-pos-mobi--center_top .wpbingo-slideshow__item-image {
    object-position: center top;
  }
  .wpbingo-slideshow .image-pos-mobi--center_center .wpbingo-slideshow__item-image {
    object-position: center center;
  }
  .wpbingo-slideshow .image-pos-mobi--center_bottom .wpbingo-slideshow__item-image {
    object-position: center bottom;
  }
  .wpbingo-slideshow .image-pos-mobi--right_top .wpbingo-slideshow__item-image {
    object-position: right top;
  }
  .wpbingo-slideshow .image-pos-mobi--right_center .wpbingo-slideshow__item-image {
    object-position: right center;
  }
  .wpbingo-slideshow .image-pos-mobi--right_bottom .wpbingo-slideshow__item-image {
    object-position: right bottom;
  }
  .wpbingo-slideshow .slideshow-text-mobi--left {
    text-align: left;
  }
  .wpbingo-slideshow .slideshow-text-mobi--center {
    text-align: center;
  }
  .wpbingo-slideshow .slideshow-text-mobi--right {
    text-align: right;
  }
  .wpbingo-slideshow .slideshow-horizontal-mobi--left {
    justify-content: left;
  }
  .wpbingo-slideshow .slideshow-horizontal-mobi--center {
    justify-content: center;
  }
  .wpbingo-slideshow .slideshow-horizontal-mobi--right {
    justify-content: right;
  }
  .wpbingo-slideshow .slideshow-vertical-mobi--top {
    align-items: start;
  }
  .wpbingo-slideshow .slideshow-vertical-mobi--middle {
    align-items: center;
  }
  .wpbingo-slideshow .slideshow-vertical-mobi--bottom {
    align-items: end;
  }
}